<!DOCTYPE html>
<html lang="en">
    <head>
        <title>headzoo.io</title>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1" name="viewport">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        
        <link href="{{ asset('build/template/css/bootstrap.min.css') }}" rel="stylesheet" media="screen">
        <link href="{{ asset('build/template/fonts/font-awesome.min.css') }}" rel="stylesheet" media="screen">
        <link href="{{ asset('build/template/fonts/intimate-fonts.css') }}" rel="stylesheet" media="screen">
        <link href="{{ asset('build/template/css/main.css') }}" rel="stylesheet" media="screen">
        <link href="{{ asset('build/template/extras/slicknav.css') }}" rel="stylesheet" media="screen">
        <link href="{{ asset('build/template/css/responsive.css') }}" rel="stylesheet" media="screen">
        <link href="{{ asset('build/css/app.css') }}" rel="stylesheet" media="screen">
    </head>
    <body>
        <div id="mount"></div>
        
        <script src="{{ asset('build/template/js/jquery-min.js') }}"></script>
        <script src="{{ asset('build/template/js/jquery.slicknav.js') }}"></script>
        <script src="{{ asset('build/template/js/main.js') }}"></script>
        <script src="{{ asset('build/js/app.js') }}"></script>
    </body>
</html>
